

    
    

body{background-color: transparent;
    font-family: 'Bebas Neue', cursive;
}

header{
color: white;
font-size: 70px;



}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


header .logo{
    font-size: 70px;
    
    color: rgb(255, 255, 255);
   margin-left: 1%;
   
    
   
}

header.menu{
    color: white;
    text-decoration: none;

}
/*https://stackoverflow.com/questions/15685666/changing-image-sizes-proportionally-using-css
.container {
    width: 50px;
    height: 30px;
}

/* Resize images */
.container img {
    width: 50%;
    height: auto;
}
h1 {
    font-size: 100px;
    color: white;
    float: right;
}

h2 {
    font-size: 150px;
    color: whitesmoke;
    float: center;
}

   h3 {
   font-size: 30px;
   color: rgb(255, 255, 255);
   float: right;
   }

   h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    float: right;
}
/*NAVIGATION BAR*/
a{
    padding: 8px;
    text-decoration: none;
}
nav{
  font-family: 'League Spartan' sans-serif;
  float: right;
  color: rgb(255, 255, 255);
}
ul {
    list-style-type: none;
    background: none;
    margin: 0;
    padding: 0;
}
li {
    color: rgb(255, 255, 255);
    background:none;
    display: block;
    float: right;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
li a{
    display:inline;
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: 'League Spartan' sans-serif;
    font-weight: bold;
    float: right;
}
/*CODE FROM: https://css-tricks.com/solved-with-css-dropdown-menus/*/
li:hover {
    background: white;
    cursor: pointer;
}
ul li ul {
    background: none;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}


   li a{
    display:inline-block; 
  
    color: rgb(255, 255, 255);
   

    font-size: 50%;
  }
  a{
      padding: 8px;
      text-decoration: none;
  }
  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    
  }

  img {
    display: center;
    width: 60%;
    align-items: right;
  }

 

  footer{
    margin-top: 500px;
    height: 60px;
    background: transparent;
    left: 0;
    right: 0;
    position: absolute;
  }
  
  .footer-content{
    background: whitesmoke;
    padding: 24px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: black;
   

    
  }
  
  .footer-content p{
    max-width: 500px;
    line-height: 28px;
    font-size: 14px;
    line-break: auto;
   
  }
  
  .footer-content ul a{
    
    margin-bottom: 5px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
  }
  
  .footer-content ul li{
    display: inline-block;
  }
  footer img{
    width: 70px;
    height: auto;
    padding: -60px;
}
   
   

      